* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top left, rgba(53, 181, 91, 0.8), #437bc9);
}

h1,
h2,
h3 {
  color: #eee;
  font-family: 'Lobster';
}

p {
  color: #eee;
  font-family: 'Monsterrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #eee;
  text-decoration: none;
}

/* Navigation Bar */

.navbar {
  min-height: 80px;
  border-bottom: 2px white solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 1;
}

#logo {
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
  color: #eee;
  margin: 0 20px;
}

.nav-item {
  display: inline-block;
  position: relative;
  padding: 8px 25px;
  margin: 5px;
  font-size: 18px;
}

.nav-item::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #e4a31b;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-item:hover::after {
  width: 80%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background-color: #eee;
}

@media (max-width: 1000px) {
  #logo {
    font-size: 24px;
  }
  .nav-item {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  #logo {
    font-size: 20px;
  }
  .nav-item {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  #logo {
    font-size: 19px;
  }
  .nav-item {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  #logo {
    font-size: 25px;
    margin-left: 20px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    background-color: #496db6;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    border-bottom: 2px white solid;
    background-color: #496db6;
    transition: 0.5s;
  }

  .nav-item {
    margin: 16px 0;
    font-size: 20px;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (max-width: 500px) {
  #logo {
    font-size: 18px;
    margin-left: 0px;
  }
}

/* About Me Section */

.about-section {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 15px;
}

.about-image {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 170px;
  height: 250px;
  border-radius: 150px;
  border: #eee 3px solid;
}

.about-me span {
  font-size: 18px;
  font-family: 'Zilla Slab', serif;
}

.about-me h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: overline underline;
  text-underline-offset: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.about-me p {
  font-size: 12px;
  margin: 10px;
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (min-width: 760px) and (max-width: 2440px) {
  .about-section {
    display: flex;
    flex-direction: row;
  }
  .about-me {
    margin-left: 30px;
  }
}

@media (min-width: 1000px) {
  .about-section {
    margin: 60px 60px 60px 60px;
  }
  .about-image {
    width: 350px;
    height: 450px;
    border: #eee 5px solid;
  }
  .about-me span {
    font-size: 20px;
  }
  .about-me h2 {
    font-size: 40px;
  }
  .about-me p {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .about-section {
    margin: 60px 60px 60px 60px;
  }
  .about-me {
    margin-top: 80px;
    margin-right: 40px;
  }
  .about-image {
    width: 450px;
    height: 650px;
    border: #eee 7px solid;
    margin-top: 40px;
    margin-left: 100px;
  }
  .about-me span {
    font-size: 25px;
  }
  .about-me h2 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .about-me p {
    width: 500px;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
  }
}